<a href="https://colab.research.google.com/github/khusanovich/modul_3.1/blob/main/3_1_2_SQL_Kirish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Imgur](https://i.imgur.com/5pXzCIu.png)

# Data Science va Sun'iy Intellekt Praktikum

## 3-MODUL. MA’LUMOTLARGA ISHLOV BERISH

### 3.1 Fayllar bilan ishlash

#### Ma'lumotlar ombori bilan ishlash

**Maʼlumotlar ombori (MO)** bu – maʼlumotlarni saqlash, oʻqish, qayta ishlash va qidirish uchun moʻljallangan markaziy maʼlumotlar ombori. Turli dasturlar yaratar ekanmiz, dastur ishlashiga oid boʻlgan maʼlumotlarni u yoki bu koʻrinishda saqlashimiz kerak. Misol uchun dastur foydalanuvchilari va ularning shaxsiy maʼlumotlari, rasmlari, postlar, mahsulotlar va hokazo.

Bu maʼlumotlarni qay koʻrinishda saqlash, turli maʼlumotlar oʻrtasidagi munosabatlar (foydalanuvchi-post, mijoz-mahsulot), bu maʼlumotlarga murojaat qilish va unumli foydalanish uchun MOni toʻgʻri loyihalash juda muhim ahamiyatga ega.

Bugungi kunda maʼlumotlar bazasini boshqarish uchun turli tizimlar mavjud. Bulardan eng mashhurlari: MySQL, Oracle DB, PostgreSQL, MongoDB, SQLite Microsoft SQL server, IBM DB2.

Ma'lumotlar omborida ma'lumotlar jadvallar ko'rinishida saqlanadi. Jadvallar u yoki bu ko'rinishda bir-biriga bog'langan bo'lishi mumkin:

![](https://i1.wp.com/i.imgur.com/YQ9Fe3b.png?ssl=1)

[Batafsil...](https://mohirdev.uz/ma%ca%bclumotlar-bazasini-loyihalash-1-qism/)

#### SQL tili

Ushbu darsimizda biz eng ken tarqalgan SQL (Structured Query Language) tili yordamida ma'lumotlar ombori bilan ishlashni o'rganamiz. 

Bu til yordamida MySQL, PostgreSQL, Sqlite kabi omborlar bilan ishlash mumkin.

### SQLning asosiy buyruqlari

- `SELECT` - MOdan ma'lumot olish
- `UPDATE` - MOdagi ma'lumotlarni yangilash
- `DELETE` - MOdan ma'lumot o'chirish
- `INSERT INTO` - MOga yangi ma'lumot qo'shish
- `CREATE DATABASE` - Yangi MO yaratish
- `ALTER DATABASE` - MOni o'zgartirish
- `CREATE TABLE` - Yangi jadval yaratish
- `ALTER TABLE` - Jadvalni o'zgartirish
- `DROP TABLE` - Jadvalni o'chirish
- `CREATE INDEX` - Indeks yaratish
- `DROP INDEX` - Indeks o'chirish

\*SQL buyruqlari katta (SELECT) yoki kichik (select) yoki aralash (Select) harf bilan yozilishi mumkin

Ushbu darsimizda biz Python bilan birga o'rnatiluvchi, faylli ma'lumotlar ombori Sqlite dan foydalanamiz. SQL buyruqlar barcha SQL turdagi omborlar uchun bir xil bo'lgani sabab, amaliyot uchun aynan qaysi turdagi ombordan foydalanish ahamiyatsiz.

Agar sizning kompyuteringizda PostgreSQL ombori o'tnatilgan bo'lsa, quyida biz PostgreSQL omboriga ulanishni ko'rsatib o'tganmiz.

1. PostgreSQL bilan ishlash uchun `psycopg2` kutubxonasini o'rnatamiz

In [2]:
!pip install psycopg2-binary
import psycopg2 as psql

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 5.0 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

2. PostgreSQL ga ulanish

In [9]:
# pdb = psql.connect(
#     host ="localhost",
#     database = "postgres",
#     user = "postgres",
#     password = "Khusanovich0_mac"
# )
# cursor = pdb.cursor()
# cursor.execute("SELECT version()")
# print(cursor.fetchone())

**Darslarimizni esa `Sqlite` bilan ishlashda davom etamiz.**

### Kerakli modullarni chaqirib olamiz

In [3]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print # natijalarni chiroyli chiqarish uchun pprint modulidan foydalanamiz

### Darsimiz uchun kerak bo'ladigan ma'lumotlar omborini yuklab olamiz

In [7]:
!wget = https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
## Agarda Google Colabda ishlashangiz keyingi 2 qatorni ishga tushuring
#!unzip chinook.zip

## Agar shaxsiy kompyuterda, Jupyter Notebookda ishlasangiz keyingi 4 qatorni ishga tushuring
# from urllib.request import urlretrieve
# import shutil
# urlretrieve(url, "chinook.zip") # faylni yuklab olish
# shutil.unpack_archive("chinook.zip") # zip faylni ochish

--2022-01-05 14:35:25--  http://=/
Resolving = (=)... failed: Name or service not known.
wget: unable to resolve host address ‘=’
--2022-01-05 14:35:25--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 151.139.128.11
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|151.139.128.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip.2’

chinook.zip.2       100%[===================>] 298.43K  --.-KB/s    in 0.04s

2022-01-05 14:35:25 (7.27 MB/s) - ‘chinook.zip.2’ saved [305596/305596]

FINISHED --2022-01-05 14:35:25--
Total wall clock time: 0.3s
Downloaded: 1 files, 298K in 0.04s (7.27 MB/s)
Archive:  chinook.zip
replace chinook.db? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [8]:
!unzip chinook.zip

Archive:  chinook.zip
replace chinook.db? [y]es, [n]o, [A]ll, [N]one, [r]ename: chin.db
error:  invalid response [chin.db]
replace chinook.db? [y]es, [n]o, [A]ll, [N]one, [r]ename: no

### Yuklab olingan omborga (`chinook.db`) ga ulanamiz

In [9]:
db = sql.connect("chinook.db")
cursor = db.cursor()

### DB tarkibidagi jadvallarni ko'ramiz

In [10]:
cursor.execute("SELECT name FROM sqlite_master WHERE type = 'table';")
print(cursor.fetchall())

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

### Jadval qatorlari sonini ko'rish

In [14]:
cursor.execute("SELECT COUNT (*) FROM customers")
cursor.fetchone()

(59,)

### Jadval ustunlarini ko'rish

In [12]:
# customers jadvali ustunlarini ko'ramiz
# PRAGMA buyrug'i Sqlitega xos
cursor.execute("PRAGMA table_info(customers);")
cursor.fetchall()

[(0, 'CustomerId', 'INTEGER', 1, None, 1),
 (1, 'FirstName', 'NVARCHAR(40)', 1, None, 0),
 (2, 'LastName', 'NVARCHAR(20)', 1, None, 0),
 (3, 'Company', 'NVARCHAR(80)', 0, None, 0),
 (4, 'Address', 'NVARCHAR(70)', 0, None, 0),
 (5, 'City', 'NVARCHAR(40)', 0, None, 0),
 (6, 'State', 'NVARCHAR(40)', 0, None, 0),
 (7, 'Country', 'NVARCHAR(40)', 0, None, 0),
 (8, 'PostalCode', 'NVARCHAR(10)', 0, None, 0),
 (9, 'Phone', 'NVARCHAR(24)', 0, None, 0),
 (10, 'Fax', 'NVARCHAR(24)', 0, None, 0),
 (11, 'Email', 'NVARCHAR(60)', 1, None, 0),
 (12, 'SupportRepId', 'INTEGER', 0, None, 0)]

### Jadvallar tarkibini ko'ramiz
Boshlanishiga keling jadval yuqorisidan 5 qatorni chaqirib olamiz va DF ga yuklaymiz. 

Katta (minglab qatorlardan iborat) jadvallar bilan ishlashda shunday yo'l tavsiya qilinadi.

In [22]:
query = "SELECT * FROM customers LIMIT 5"
df = pd.read_sql(query, db, index_col="CustomerId") # CustomerId ustunidan DF Indeksi sifatida foydalanamiz
df

            FirstName     LastName  ...                     Email SupportRepId
CustomerId                          ...
1                Luís    Gonçalves  ...      luisg@embraer.com.br            3
2              Leonie       Köhler  ...     leonekohler@surfeu.de            5
3            François     Tremblay  ...       ftremblay@gmail.com            3
4               Bjørn       Hansen  ...     bjorn.hansen@yahoo.no            4
5           František  Wichterlová  ...  frantisekw@jetbrains.com            4

[5 rows x 12 columns]

In [20]:
cursor.execute("SELECT * FROM customers")
mijozlar = cursor.fetchall()

Keling endi jadvalni to'liqligicha yuklaymiz

In [24]:
df = pd.read_sql("SELECT * FROM customers", db, index_col="CustomerId")
df.sample(5)

           FirstName    LastName  ...                      Email SupportRepId
CustomerId                        ...
2             Leonie      Köhler  ...      leonekohler@surfeu.de            5
7             Astrid      Gruber  ...     astrid.gruber@apple.at            5
47             Lucas     Mancini  ...     lucas.mancini@yahoo.it            5
44             Terhi  Hämäläinen  ...  terhi.hamalainen@apple.fi            3
34              João   Fernandes  ...        jfernandes@yahoo.pt            4

[5 rows x 12 columns]

In [25]:
# Jadvalni chaqirishda aynan qaysi ustunlar kerakligini ham ko'rsatishimiz mumkin
pd.read_sql("SELECT FirstName, LastName, City, Phone, Email FROM customers LIMIT 10", db)

   FirstName     LastName  ...               Phone                     Email
0       Luís    Gonçalves  ...  +55 (12) 3923-5555      luisg@embraer.com.br
1     Leonie       Köhler  ...    +49 0711 2842222     leonekohler@surfeu.de
2   François     Tremblay  ...   +1 (514) 721-4711       ftremblay@gmail.com
3      Bjørn       Hansen  ...     +47 22 44 22 22     bjorn.hansen@yahoo.no
4  František  Wichterlová  ...    +420 2 4172 5555  frantisekw@jetbrains.com
5     Helena         Holý  ...    +420 2 4177 0449           hholy@gmail.com
6     Astrid       Gruber  ...      +43 01 5134505    astrid.gruber@apple.at
7       Daan      Peeters  ...    +32 02 219 03 03     daan_peeters@apple.be
8       Kara      Nielsen  ...      +453 3331 9991     kara.nielsen@jubii.dk
9    Eduardo      Martins  ...  +55 (11) 3033-5446  eduardo@woodstock.com.br

[10 rows x 5 columns]

In [28]:
# Ma'lumotlarni biror ustun bo'yicha tartiblash
pd.read_sql("SELECT * FROM customers ORDER BY FirstName LIMIT 10", db, index_col="CustomerId")

            FirstName   LastName  ...                        Email SupportRepId
CustomerId                        ...
32              Aaron   Mitchell  ...       aaronmitchell@yahoo.ca            4
11          Alexandre      Rocha  ...             alero@uol.com.br            5
7              Astrid     Gruber  ...       astrid.gruber@apple.at            5
4               Bjørn     Hansen  ...        bjorn.hansen@yahoo.no            4
39            Camille    Bernard  ...     camille.bernard@yahoo.fr            4
8                Daan    Peeters  ...        daan_peeters@apple.be            4
20                Dan     Miller  ...          dmiller@comcast.com            4
56              Diego  Gutiérrez  ...     diego.gutierrez@yahoo.ar            4
40          Dominique   Lefebvre  ...  dominiquelefebvre@gmail.com            4
10            Eduardo    Martins  ...     eduardo@woodstock.com.br            4

[10 rows x 12 columns]

In [29]:
# yuqoridagi bilan bir xil
query = "SELECT * FROM customers ORDER BY Country"
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

            FirstName   LastName  ...                          Email SupportRepId
CustomerId                        ...
56              Diego  Gutiérrez  ...       diego.gutierrez@yahoo.ar            4
55               Mark     Taylor  ...           mark.taylor@yahoo.au            4
7              Astrid     Gruber  ...         astrid.gruber@apple.at            5
8                Daan    Peeters  ...          daan_peeters@apple.be            4
1                Luís  Gonçalves  ...           luisg@embraer.com.br            3
10            Eduardo    Martins  ...       eduardo@woodstock.com.br            4
11          Alexandre      Rocha  ...               alero@uol.com.br            5
12            Roberto    Almeida  ...  roberto.almeida@riotur.gov.br            3
13           Fernanda      Ramos  ...       fernadaramos4@uol.com.br            4
3            François   Tremblay  ...            ftremblay@gmail.com            3

[10 rows x 12 columns]

# Ma'lumotlarni biror ustun bo'yicha kamayish tartyibida olish

In [32]:
pd.read_sql("SELECT * FROM customers ORDER BY FirstName DESC LIMIT 10", db, index_col="CustomerId")

            FirstName    LastName  ...                          Email SupportRepId
CustomerId                         ...
42              Wyatt      Girard  ...          wyatt.girard@yahoo.fr            3
25             Victor     Stevens  ...             vstevens@yahoo.com            5
19                Tim       Goyer  ...               tgoyer@apple.com            3
44              Terhi  Hämäläinen  ...      terhi.hamalainen@apple.fi            3
54              Steve      Murray  ...          steve.murray@yahoo.uk            5
49          Stanisław      Wójcik  ...         stanisław.wójcik@wp.pl            4
12            Roberto     Almeida  ...  roberto.almeida@riotur.gov.br            3
29             Robert       Brown  ...               robbrown@shaw.ca            3
26            Richard  Cunningham  ...       ricunningham@hotmail.com            4
59               Puja  Srivastava  ...       puja_srivastava@yahoo.in            3

[10 rows x 12 columns]

In [33]:
# yuqoridagi bilan bir xil
query = "SELECT * FROM customers ORDER BY Country DESC"
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

           FirstName LastName  ...                    Email SupportRepId
CustomerId                     ...
52              Emma    Jones  ...   emma_jones@hotmail.com            3
53              Phil   Hughes  ...    phil.hughes@gmail.com            3
54             Steve   Murray  ...    steve.murray@yahoo.uk            5
16             Frank   Harris  ...       fharris@google.com            4
17              Jack    Smith  ...  jacksmith@microsoft.com            5
18          Michelle   Brooks  ...        michelleb@aol.com            3
19               Tim    Goyer  ...         tgoyer@apple.com            3
20               Dan   Miller  ...      dmiller@comcast.com            4
21             Kathy    Chase  ...      kachase@hotmail.com            5
22           Heather  Leacock  ...       hleacock@gmail.com            4

[10 rows x 12 columns]

#### Noyob (DISTINCT) qiymatlarni ko'rish

Misol uchun jadvaldagi barcha mavjud davlatlarni ko'rish uchun `DISTINCT` buyrug'idan foydalanamiz.

In [35]:
cursor.execute("SELECT DISTINCT Country FROM customers")
cursor.fetchall()

[('Brazil',),
 ('Germany',),
 ('Canada',),
 ('Norway',),
 ('Czech Republic',),
 ('Austria',),
 ('Belgium',),
 ('Denmark',),
 ('USA',),
 ('Portugal',),
 ('France',),
 ('Finland',),
 ('Hungary',),
 ('Ireland',),
 ('Italy',),
 ('Netherlands',),
 ('Poland',),
 ('Spain',),
 ('Sweden',),
 ('United Kingdom',),
 ('Australia',),
 ('Argentina',),
 ('Chile',),
 ('India',)]

In [36]:
# yuqoridagi bilan bir xil
query = "SELECT DISTINCT Country FROM customers"
cursor.execute(query)
cursor.fetchall()

[('Brazil',),
 ('Germany',),
 ('Canada',),
 ('Norway',),
 ('Czech Republic',),
 ('Austria',),
 ('Belgium',),
 ('Denmark',),
 ('USA',),
 ('Portugal',),
 ('France',),
 ('Finland',),
 ('Hungary',),
 ('Ireland',),
 ('Italy',),
 ('Netherlands',),
 ('Poland',),
 ('Spain',),
 ('Sweden',),
 ('United Kingdom',),
 ('Australia',),
 ('Argentina',),
 ('Chile',),
 ('India',)]

In [37]:
# natijani 
countries = pd.read_sql(query, db)
countries.head()

          Country
0          Brazil
1         Germany
2          Canada
3          Norway
4  Czech Republic

In [38]:
obj = countries["Country"]
print(obj)

0             Brazil
1            Germany
2             Canada
3             Norway
4     Czech Republic
5            Austria
6            Belgium
7            Denmark
8                USA
9           Portugal
10            France
11           Finland
12           Hungary
13           Ireland
14             Italy
15       Netherlands
16            Poland
17             Spain
18            Sweden
19    United Kingdom
20         Australia
21         Argentina
22             Chile
23             India
Name: Country, dtype: object

### `WHERE` yordamida filtrlash

Ma'lumotlarni ombordan olishda turli shartlar yordamida filtlashimiz mumkin

In [41]:
pd.read_sql("select * from customers where country='Brazil'", db, index_col="CustomerId")

            FirstName   LastName  ...                          Email SupportRepId
CustomerId                        ...
1                Luís  Gonçalves  ...           luisg@embraer.com.br            3
10            Eduardo    Martins  ...       eduardo@woodstock.com.br            4
11          Alexandre      Rocha  ...               alero@uol.com.br            5
12            Roberto    Almeida  ...  roberto.almeida@riotur.gov.br            3
13           Fernanda      Ramos  ...       fernadaramos4@uol.com.br            4

[5 rows x 12 columns]

In [42]:
# yuqoridagi bilan bir xil
# Braziliyalik xaridorlarni ajratib olamiz
query = 'SELECT * FROM customers WHERE country="Brazil"'
df = pd.read_sql(query, db, index_col="CustomerId")
df.head(10)

            FirstName   LastName  ...                          Email SupportRepId
CustomerId                        ...
1                Luís  Gonçalves  ...           luisg@embraer.com.br            3
10            Eduardo    Martins  ...       eduardo@woodstock.com.br            4
11          Alexandre      Rocha  ...               alero@uol.com.br            5
12            Roberto    Almeida  ...  roberto.almeida@riotur.gov.br            3
13           Fernanda      Ramos  ...       fernadaramos4@uol.com.br            4

[5 rows x 12 columns]

In [43]:
# Brazil va USA xaridorlarni ajratib olamiz
# Keling boshlanishiga bunday xaridorlar sonini chiqaramiz
cursor.execute('SELECT COUNT (*) FROM customers WHERE country="Brazil" OR country="USA"')
print(cursor.fetchone())

(18,)

In [44]:
# Brazil va USA xaridorlarni ajratib olamiz
query = 'SELECT Firstname, LastName, Country, Phone FROM customers WHERE country="Brazil" OR country="USA" ORDER BY Country'
pd.read_sql(query, db)

    FirstName    LastName Country               Phone
0        Luís   Gonçalves  Brazil  +55 (12) 3923-5555
1     Eduardo     Martins  Brazil  +55 (11) 3033-5446
2   Alexandre       Rocha  Brazil  +55 (11) 3055-3278
3     Roberto     Almeida  Brazil  +55 (21) 2271-7000
4    Fernanda       Ramos  Brazil  +55 (61) 3363-5547
5       Frank      Harris     USA   +1 (650) 253-0000
6        Jack       Smith     USA   +1 (425) 882-8080
7    Michelle      Brooks     USA   +1 (212) 221-3546
8         Tim       Goyer     USA   +1 (408) 996-1010
9         Dan      Miller     USA   +1 (650) 644-3358
10      Kathy       Chase     USA   +1 (775) 223-7665
11    Heather     Leacock     USA   +1 (407) 999-7788
12       John      Gordon     USA   +1 (617) 522-1333
13      Frank     Ralston     USA   +1 (312) 332-3232
14     Victor     Stevens     USA   +1 (608) 257-0597
15    Richard  Cunningham     USA   +1 (817) 924-7272
16    Patrick        Gray     USA   +1 (520) 622-4200
17      Julia     Barnett     USA   +1 (801) 531-7272