<a href="https://colab.research.google.com/github/khusanovich/modul_3.1/blob/main/3_1_Fayllar_bilan_ishlash.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

## Fayllarni o'qish

`pandas` kutubxonasi fayllar bilan ishlaydigan bir nechta funksiyalardan iborat.

`read_csv` - vergul bilan ajratilgan jadval fayllarni o'qish uchun

`read_table` - probel (bo'sh joy) bilan ajratilgan jadval fayllarni o'qish uchun

`read_excel` - `xls` yoki `xlsx` formatidagi **Excel** fayllarni o'qish uchun

`read_clipboard` - ko'chirilgan (xotiradagi) jadvalni o'qish

`read_hdf` - `HDF5` formatidagi fayllarni o'qish

`read_html` - HTML (web) sahifadagi barcha jadvallarni o'qish

`read_json` - `JSON` ma'lumotlarni o'qish

`read_pickle` - pickle formatidagi fayllarni o'qish

`read_sql` - SQL query dan qaytgan ma'lumotlarni o'qish (SQLAlchemy bilan ishlayd)

Yuqoridagi funksiyalarning deyarlari barchasining ishlashi juda o'xshash, muhimi, to'g'ri formatdagi faylni ko'rsatish va turli qo'shimcha parametrlardan foydalangan xolda jadvalni to'g'ri yaratib olish.

#### Parametrlar
##### 1. Fayl nomi
Fayl kompyuterdagi yoki onlyandagi fayl bo'lishi mumkin. Dars davomida https://github.com/anvarnarz/praktikum_datasets manzilida joylashgan turli fayllardan foydalanamiz. Siz kerakli faylni kompyuterga yuklab olib, Jupyter Notebookda ochishingiz mumkin.

In [5]:
df = pd.read_excel('uzbekistan.xlsx')
df

                       Boʻlinishi  Maydoni (kv.km)  Aholisi
0                Andijon viloyati             4200  1899000
1                 Buxoro viloyati            39400  1384700
2               Fargʻona viloyati             6800  2597000
3                 Jizzax viloyati            20500   910500
4                 Xorazm viloyati             6300  1200000
5               Namangan viloyati             7900  1862000
6                 Navoiy viloyati           110800   767500
7            Qashqadaryo viloyati            28400  2029000
8   Qoraqalpogʻiston Respublikasi           160000  1200000
9              Samarqand viloyati            16400  2322000
10              Sirdaryo viloyati             5100   648100
11           Surxondaryo viloyati            20800  1676000
12              Toshkent viloyati            15300  4450000

Agar fayl papkada bo'lsa, avval papka nomi yoziladi.

In [10]:
# Quyida biz read_table funksiyasiga murojaat qilamiz, sababi bizning faylimizda ustunlar orasi probel bilan ajratilgan.
pd.read_csv("Datasets/Electricity_Production_By_Source.csv")

           Entity  ... Electricity from nuclear (TWh)
0     Afghanistan  ...                            0.0
1     Afghanistan  ...                            0.0
2     Afghanistan  ...                            0.0
3     Afghanistan  ...                            0.0
4     Afghanistan  ...                            0.0
...           ...  ...                            ...
6236     Zimbabwe  ...                            0.0
6237     Zimbabwe  ...                            0.0
6238     Zimbabwe  ...                            0.0
6239     Zimbabwe  ...                            0.0
6240     Zimbabwe  ...                            0.0

[6241 rows x 11 columns]

Fayl manbaasi sifatida internetdagi faylni ham ko'rsatishimiz mumkin. Bunda albatta faylga to'g'ridan-to'g'ri bog'lama (link) talab qilinadi.

In [11]:
pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/merc.csv")

            model  year  price transmission  ...  fuelType  tax   mpg  engineSize
0             SLK  2005   5200    Automatic  ...    Petrol  325  32.1         1.8
1         S Class  2017  34948    Automatic  ...    Hybrid   20  61.4         2.1
2        SL CLASS  2016  49948    Automatic  ...    Petrol  555  28.0         5.5
3         G Class  2016  61948    Automatic  ...    Petrol  325  30.4         4.0
4         G Class  2016  73948    Automatic  ...    Petrol  325  30.1         4.0
...           ...   ...    ...          ...  ...       ...  ...   ...         ...
13114     C Class  2020  35999    Automatic  ...    Diesel  145  55.4         2.0
13115     B Class  2020  24699    Automatic  ...    Diesel  145  55.4         2.0
13116   GLC Class  2019  30999    Automatic  ...    Diesel  145  41.5         2.1
13117   CLS Class  2019  37990    Automatic  ...    Diesel  145  45.6         2.0
13118     S Class  2019  54999    Automatic  ...    Diesel  145  52.3         2.9

[13119 rows x 9 columns]

GitHubdagi fayllarga to'g'ridan-to'g'ri link olish uchun keraklai faylni tanlang va `Raw` tugmasini bosing.

![Imgur](https://i.imgur.com/RyBPpIt.png)

#### 2. Ustun nomlari.
Agar fayldagi jadvla ustunlari nomsiz bo'lsa, yoki ularga yangi nom berishni istasangiz `names` parametridan foydalanais.z

In [13]:
df = pd.read_excel("uzbekistan.xlsx", names=['hududi','maydoni','aholisi'])
df

                           hududi  maydoni  aholisi
0                Andijon viloyati     4200  1899000
1                 Buxoro viloyati    39400  1384700
2               Fargʻona viloyati     6800  2597000
3                 Jizzax viloyati    20500   910500
4                 Xorazm viloyati     6300  1200000
5               Namangan viloyati     7900  1862000
6                 Navoiy viloyati   110800   767500
7            Qashqadaryo viloyati    28400  2029000
8   Qoraqalpogʻiston Respublikasi   160000  1200000
9              Samarqand viloyati    16400  2322000
10              Sirdaryo viloyati     5100   648100
11           Surxondaryo viloyati    20800  1676000
12              Toshkent viloyati    15300  4450000

#### 3. Indeks ustun.
`pandas` yangi ochilgan jadvalning qatorlariga avtomat ravishda 0 dan boshlab indeks beradi. Agar siz indeks sifatida fayldagi jadvalning biror ustunini ishlatmoqchi bo'lsangiz, ustun tartib raqamini `index_col` parametri yordamida ko'rsatishingiz mumkin.

In [14]:
df = pd.read_excel("uzbekistan.xlsx", names=['hududi','maydoni','aholisi'], index_col = 'hududi') # yoki index_col = 0, hududi o'rniga
df

                               maydoni  aholisi
hududi
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

#### 4. Ustunlar orasini ajratuvchi belgi.
Agar faylda jadval ustunlari `,` yoki probeldan boshqa belgi bilan ajratilgan bo'lsa `sep` paramteri yordamida buni ko'rsatib ketishimiz mumkin.

Misol uchun, `automobile_data.csv` faylida ustunlar orasi `;` bilan ajratilgan.

In [19]:
dff = pd.read_csv("Datasets/automobile_data.csv")
dff

    index      company   body-style  ...  horsepower  average-mileage    price
0       0  alfa-romero  convertible  ...         111               21  13495.0
1       1  alfa-romero  convertible  ...         111               21  16500.0
2       2  alfa-romero    hatchback  ...         154               19  16500.0
3       3         audi        sedan  ...         102               24  13950.0
4       4         audi        sedan  ...         115               18  17450.0
..    ...          ...          ...  ...         ...              ...      ...
56     81   volkswagen        sedan  ...          85               27   7975.0
57     82   volkswagen        sedan  ...          52               37   7995.0
58     86   volkswagen        sedan  ...         100               26   9995.0
59     87        volvo        sedan  ...         114               23  12940.0
60     88        volvo        wagon  ...         114               23  13415.0

[61 rows x 10 columns]

#### 5. Fayl boshidan sanoqli qatorlarni o'qish.
`nrows` parametri yordamida jadvaldan faqatgina sanoqli qatorlarni o'qish mumkin. Bu katta jadvallar bilan ishlash uchun qulay.

In [20]:
pd.read_excel("https://github.com/anvarnarz/praktikum_datasets/blob/main/netflix.xlsx?raw=true")

                       title rating  ... user rating score  user rating size
0               White Chicks  PG-13  ...              82.0                80
1        Lucky Number Slevin      R  ...               NaN                82
2             Grey's Anatomy  TV-14  ...              98.0                80
3               Prison Break  TV-14  ...              98.0                80
4      How I Met Your Mother  TV-PG  ...              94.0                80
..                       ...    ...  ...               ...               ...
995                  The BFG     PG  ...              97.0                80
996  The Secret Life of Pets     PG  ...               NaN                81
997         Precious Puppies   TV-G  ...               NaN                82
998              Beary Tales   TV-G  ...               NaN                82
999          Growing Up Wild      G  ...              80.0                80

[1000 rows x 7 columns]

In [21]:
url = "https://github.com/anvarnarz/praktikum_datasets/blob/main/netflix.xlsx?raw=true"
pd.read_excel(url, index_col='title', nrows=20)

                      rating  ... user rating size
title                         ...
White Chicks           PG-13  ...               80
Lucky Number Slevin        R  ...               82
Grey's Anatomy         TV-14  ...               80
Prison Break           TV-14  ...               80
How I Met Your Mother  TV-PG  ...               80
Supernatural           TV-14  ...               80
Breaking Bad           TV-MA  ...               80
The Vampire Diaries    TV-14  ...               80
The Walking Dead       TV-MA  ...               80
Pretty Little Liars    TV-14  ...               80
Once Upon a Time       TV-PG  ...               80
Sherlock               TV-14  ...               80
Death Note             TV-14  ...               80
Naruto                 TV-PG  ...               80
The Hunter                 R  ...               82
Lottie Dottie Chicken   TV-Y  ...               82
Arrow                  TV-14  ...               80
Black Mirror           TV-MA  ...               80
The Originals          TV-14  ...               80
The 100                   NR  ...               80

[20 rows x 6 columns]

In [22]:
# yuqoridagi bilan bir xil
url = "https://github.com/anvarnarz/praktikum_datasets/blob/main/netflix.xlsx?raw=true"
pd.read_excel(url, index_col='title', nrows=20) 
# ahamiyat bering indeks sifatida ustun tartib raqami emas, nomini ham ko'rsatish mumkin

                      rating  ... user rating size
title                         ...
White Chicks           PG-13  ...               80
Lucky Number Slevin        R  ...               82
Grey's Anatomy         TV-14  ...               80
Prison Break           TV-14  ...               80
How I Met Your Mother  TV-PG  ...               80
Supernatural           TV-14  ...               80
Breaking Bad           TV-MA  ...               80
The Vampire Diaries    TV-14  ...               80
The Walking Dead       TV-MA  ...               80
Pretty Little Liars    TV-14  ...               80
Once Upon a Time       TV-PG  ...               80
Sherlock               TV-14  ...               80
Death Note             TV-14  ...               80
Naruto                 TV-PG  ...               80
The Hunter                 R  ...               82
Lottie Dottie Chicken   TV-Y  ...               82
Arrow                  TV-14  ...               80
Black Mirror           TV-MA  ...               80
The Originals          TV-14  ...               80
The 100                   NR  ...               80

[20 rows x 6 columns]

### Boshqa parametrlar.

`pandas`da fayllarni o'qishda 50 ga yaqin parametrlarni ko'rsatish mumkin. To'liq ro'yxat bilan quyidagi bog'lamada tanishish mumkin: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

Biz esa o'rni kelganda yana boshqa parametrlar bilan tanishamiz.

## Faylga yozish

In [23]:
df

                               maydoni  aholisi
hududi
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

In [53]:
df.to_csv('uz_data.csv')

`Series` obyektini ham faylga yozishimiz mumkin

In [27]:
obj = df.maydoni # faqat maydoni haqidagi ma'lumotlarni chaqirib olamiz
obj

hududi
Andijon viloyati                   4200
Buxoro viloyati                   39400
Fargʻona viloyati                  6800
Jizzax viloyati                   20500
Xorazm viloyati                    6300
Namangan viloyati                  7900
Navoiy viloyati                  110800
Qashqadaryo viloyati              28400
Qoraqalpogʻiston Respublikasi    160000
Samarqand viloyati                16400
Sirdaryo viloyati                  5100
Surxondaryo viloyati              20800
Toshkent viloyati                 15300
Name: maydoni, dtype: int64

In [28]:
# endi maydoni ma'lumotlarini yangi faylga yuklaymiz
obj.to_csv("uzb_maydoni.csv")

`Series` obyektini o'qish uchun `squeeze=True` parametridan foydalanamiz.

In [31]:
maydon = pd.read_csv('uzb_maydoni.csv', index_col=0, squeeze=True)
maydon

hududi
Andijon viloyati                   4200
Buxoro viloyati                   39400
Fargʻona viloyati                  6800
Jizzax viloyati                   20500
Xorazm viloyati                    6300
Namangan viloyati                  7900
Navoiy viloyati                  110800
Qashqadaryo viloyati              28400
Qoraqalpogʻiston Respublikasi    160000
Samarqand viloyati                16400
Sirdaryo viloyati                  5100
Surxondaryo viloyati              20800
Toshkent viloyati                 15300
Name: maydoni, dtype: int64

Indekslarni tashlab yozish

In [51]:
df2 = pd.read_csv('Datasets/automobile_data.csv', index_col=0) 
df2

           company   body-style  ...  average-mileage    price
index                            ...
0      alfa-romero  convertible  ...               21  13495.0
1      alfa-romero  convertible  ...               21  16500.0
2      alfa-romero    hatchback  ...               19  16500.0
3             audi        sedan  ...               24  13950.0
4             audi        sedan  ...               18  17450.0
...            ...          ...  ...              ...      ...
81      volkswagen        sedan  ...               27   7975.0
82      volkswagen        sedan  ...               37   7995.0
86      volkswagen        sedan  ...               26   9995.0
87           volvo        sedan  ...               23  12940.0
88           volvo        wagon  ...               23  13415.0

[61 rows x 9 columns]

In [48]:
df2.to_excel("auto_data.xlsx", index=False) # ya'ni 0 dan 88 bo'lgan index ustunini tushirib qoldirib saqlayabmiz va yangi nom berdik

Ustunlarni tanlash

In [36]:
df2.to_excel("auto_data.xlsx", index=False, columns=['company','body-style','engine-type','horsepower','price']) # bunda ma'lum ustunlarni tanlab saqlashimiz mumkin

### `HDF5` formati.
HDF5 formati ilmiy tadqiqodlar qilishda katta hajmdagi ma'lumotlarni saqlash uchun keng ioshlatiladigan formatlardan hisoblanadi. 

HDF5 fayllarni nafaqat Python, balki Java, Julia, Matlab va boshqa dasturlash tillarida ochish mumkin. 

HDF - __hierarchial data format__ (irarxiyali ma'lumotlar formati) hisoblanib, tarkibida bir nechta datasetlarni siqilgan holatda saqlashi mumkin.

HDF formatida fayllarni saqlash uchun avval HDF obyketini yaratamiz:

In [37]:
hdf_misol = pd.HDFStore("mydata.h5")

In [38]:
hdf_misol['uzdata'] = df

In [39]:
hdf_misol["cardata"] = df2

In [40]:
hdf_misol.keys()

['/cardata', '/uzdata']

In [41]:
hdf_misol["uz_aholi"] = df["aholisi"]

Obyekt ichidagi ma'umotlarga lug'at elementlariga murojaat qilgandek murojaat qilamiz:

In [50]:
hdf_misol['uz_aholi']

hududi
Andijon viloyati                 1899000
Buxoro viloyati                  1384700
Fargʻona viloyati                2597000
Jizzax viloyati                   910500
Xorazm viloyati                  1200000
Namangan viloyati                1862000
Navoiy viloyati                   767500
Qashqadaryo viloyati             2029000
Qoraqalpogʻiston Respublikasi    1200000
Samarqand viloyati               2322000
Sirdaryo viloyati                 648100
Surxondaryo viloyati             1676000
Toshkent viloyati                4450000
Name: aholisi, dtype: int64

Ma'lumotlarni saqlab bo'lgach, `.close()` metodi yordamida faylni yopamiz.

In [52]:
hdf_misol.close()

`to_hdf()` metodi yordamida DataFrameni to'g'ridan-to'g'ri .hdf faylga yozish mumkin.

In [66]:
df.to_hdf('uzdata.h5',key='uz_data')

AttributeError: ignored

HDF5 fayllarni o'qish uchun qaytadan `HDFStore` yoki `read_hdf` metodidan foydalanamiz:

In [71]:
data = pd.HDFStore('mydata.h5')

In [72]:
data.keys()

['/cardata', '/uz_aholi', '/uzdata']

In [76]:
data['uzdata'].head()

                   maydoni  aholisi
hududi
Andijon viloyati      4200  1899000
Buxoro viloyati      39400  1384700
Fargʻona viloyati     6800  2597000
Jizzax viloyati      20500   910500
Xorazm viloyati       6300  1200000

In [77]:
data.close()

`read_hdf()` metodidan foydalanish uchun dataset nomini (kalitini) ko'rsatish talab qilinadi.

In [78]:
df = pd.read_hdf('uzdata.h5', key='uzdata')

In [79]:
df

                               maydoni  aholisi
hududi
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000