<a href="https://colab.research.google.com/github/khusanovich/modul_3.1/blob/main/3_1_2_SQL_3_qism.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3 as sql

#Darsimiz uchun MO(ma'lumotlar ombori) yuklab olamiz

In [2]:
from urllib.request import urlretrieve
url = "https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db"
urlretrieve(url,'electricity.db') # faylni yuklab olish

('electricity.db', <http.client.HTTPMessage at 0x7f831abb1390>)

In [3]:
db = sql.connect("electricity.db")
cursor = db.cursor()

In [4]:
cursor.execute("SELECT * FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('table', 'elect', 'elect', 2, 'CREATE TABLE "elect" (\n"index" INTEGER,\n  "country" TEXT,\n  "code" TEXT,\n  "year" INTEGER,\n  "coal" REAL,\n  "gas" REAL,\n  "hydro" REAL,\n  "renewable_other" REAL,\n  "solar" REAL,\n  "oil" REAL,\n  "wind" REAL,\n  "nuclear" REAL\n)')]

In [5]:
# jadval ustunlarini ko'ramiz
cursor.execute("PRAGMA table_info(elect);")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [6]:
pd.read_sql("SELECT * FROM elect LIMIT 10", db, index_col="index")

           country code  year  coal  ...  solar  oil     wind  nuclear
index                                ...
0      Afghanistan  AFG  2000   0.0  ...    0.0  0.0  0.00000      0.0
1      Afghanistan  AFG  2001   0.0  ...    0.0  0.0  0.00000      0.0
2      Afghanistan  AFG  2002   0.0  ...    0.0  0.0  0.00000      0.0
3      Afghanistan  AFG  2003   0.0  ...    0.0  0.0  0.00000      0.0
4      Afghanistan  AFG  2004   0.0  ...    0.0  0.0  0.00000      0.0
5      Afghanistan  AFG  2005   0.0  ...    0.0  0.0  0.00000      0.0
6      Afghanistan  AFG  2006   0.0  ...    0.0  0.0  0.00000      0.0
7      Afghanistan  AFG  2007   0.0  ...    0.0  0.0  0.00000      0.0
8      Afghanistan  AFG  2008   0.0  ...    0.0  0.0  0.00001      0.0
9      Afghanistan  AFG  2009   0.0  ...    0.0  0.0  0.00010      0.0

[10 rows x 11 columns]

## Foydali buyruqlar

### `DISTINCT`

`DISTINCT` buyru'gi bilan avvalgi darsda tanishgan edik.

In [7]:
query = "SELECT DISTINCT country FROM elect"
countries = pd.read_sql(query, db)
countries.head()

          country
0     Afghanistan
1          Africa
2         Albania
3         Algeria
4  American Samoa

Davlatlar orasida `Uzbekistan` borligini tekshirib ko'ramiz

In [8]:
'Uzbekistan' in countries['country'].values

True

In [11]:
query = "SELECT * FROM elect WHERE country='Uzbekistan'"
dfuz = pd.read_sql(query,db)
dfuz.head(10)

   index     country code  year  ...  solar       oil  wind  nuclear
0   5964  Uzbekistan  UZB  2000  ...    0.0  1.380143   0.0      0.0
1   5965  Uzbekistan  UZB  2001  ...    0.0  1.399642   0.0      0.0
2   5966  Uzbekistan  UZB  2002  ...    0.0  1.452939   0.0      0.0
3   5967  Uzbekistan  UZB  2003  ...    0.0  1.407634   0.0      0.0
4   5968  Uzbekistan  UZB  2004  ...    0.0  1.379355   0.0      0.0
5   5969  Uzbekistan  UZB  2005  ...    0.0  1.366882   0.0      0.0
6   5970  Uzbekistan  UZB  2006  ...    0.0  1.406953   0.0      0.0
7   5971  Uzbekistan  UZB  2007  ...    0.0  1.433584   0.0      0.0
8   5972  Uzbekistan  UZB  2008  ...    0.0  1.281634   0.0      0.0
9   5973  Uzbekistan  UZB  2009  ...    0.0  1.080645   0.0      0.0

[10 rows x 12 columns]

In [12]:
query = "SELECT * FROM elect WHERE country='Uzbekistan' AND year>2010"
dfuz = pd.read_sql(query,db)
dfuz

   index     country code  year  ...     solar       oil  wind  nuclear
0   5975  Uzbekistan  UZB  2011  ...  0.000000  1.253064   0.0      0.0
1   5976  Uzbekistan  UZB  2012  ...  0.000000  1.232952   0.0      0.0
2   5977  Uzbekistan  UZB  2013  ...  0.001996  1.301270   0.0      0.0
3   5978  Uzbekistan  UZB  2014  ...  0.002046  1.321888   0.0      0.0
4   5979  Uzbekistan  UZB  2015  ...  0.002176  1.251363   0.0      0.0
5   5980  Uzbekistan  UZB  2016  ...  0.004643  1.282778   0.0      0.0
6   5981  Uzbekistan  UZB  2017  ...  0.006290  1.308332   0.0      0.0
7   5982  Uzbekistan  UZB  2018  ...  0.006827  1.409975   0.0      0.0
8   5983  Uzbekistan  UZB  2019  ...  0.006827  1.462846   0.0      0.0

[9 rows x 12 columns]

### `BETWEEN` yordamida filtrlash
**Between** so'zi ingliz tildan __oraliqda__ deb tarjima qilinadi. Bu operator yordamida ma'lum oraliqdagi qiymatlarni ajratib olishimiz mumkin.

Misol uchu, kelin O'zbekiston uchun 2010 va 2021 oraliqdagi ma'lumotlarni chaqirib olamiz.

In [13]:
query = "SELECT * FROM elect WHERE country='Uzbekistan' AND year BETWEEN 2010 AND 2021"
pd.read_sql(query, db)

   index     country code  year  ...     solar       oil  wind  nuclear
0   5974  Uzbekistan  UZB  2010  ...  0.000000  1.164793   0.0      0.0
1   5975  Uzbekistan  UZB  2011  ...  0.000000  1.253064   0.0      0.0
2   5976  Uzbekistan  UZB  2012  ...  0.000000  1.232952   0.0      0.0
3   5977  Uzbekistan  UZB  2013  ...  0.001996  1.301270   0.0      0.0
4   5978  Uzbekistan  UZB  2014  ...  0.002046  1.321888   0.0      0.0
5   5979  Uzbekistan  UZB  2015  ...  0.002176  1.251363   0.0      0.0
6   5980  Uzbekistan  UZB  2016  ...  0.004643  1.282778   0.0      0.0
7   5981  Uzbekistan  UZB  2017  ...  0.006290  1.308332   0.0      0.0
8   5982  Uzbekistan  UZB  2018  ...  0.006827  1.409975   0.0      0.0
9   5983  Uzbekistan  UZB  2019  ...  0.006827  1.462846   0.0      0.0

[10 rows x 12 columns]

### `IN`
`IN` yordamida filterlashda aniq qiymatlarni ko'rsatishimiz mumkin. Quyidagi misolda aynan 1990,1995,2000,2005,2010-yillardagi qiymatlarni ajratib olamiz.

In [14]:
query = "SELECT * FROM elect WHERE country='Uzbekistan' AND year IN (1990,1995,2000,2005,2010)"
pd.read_sql(query, db)

   index     country code  year  ...  solar       oil  wind  nuclear
0   5964  Uzbekistan  UZB  2000  ...    0.0  1.380143   0.0      0.0
1   5969  Uzbekistan  UZB  2005  ...    0.0  1.366882   0.0      0.0
2   5974  Uzbekistan  UZB  2010  ...    0.0  1.164793   0.0      0.0
3   5989  Uzbekistan  UZB  1990  ...    0.0       NaN   0.0      0.0
4   5994  Uzbekistan  UZB  1995  ...    0.0       NaN   0.0      0.0

[5 rows x 12 columns]

### `LIKE`
`LIKE` yordamida ustun orasidan berilgan matnga o'xshash qiymatlarni topish mumkin. Qidiruv matnida `%` yoki `_` belgilari ishlatilishi mumkin.
- `%` - bir nechta belgini anglatadi, masalan `'%stan'` matni `stan` so'zi bilan tugaydigan barcha qiymatlarni topadi.
- `_` - bitta belgini anglatadi, misol uchun `_tol` matni 4 harfdan iborat `tol` bilan tugaydian so'zlarni topadi (`stol`)

Quyida `stan` bilan tugaydigan barcha davlatlar uchun 2019,2020,2021-yillardagi ma'lumotlarni olamiz

In [16]:
query = "SELECT * FROM elect WHERE country LIKE '%stan' AND year IN (2019, 2020, 2021)"
pd.read_sql(query, db)

   index       country code  year  ...     solar        oil      wind   nuclear
0     19   Afghanistan  AFG  2019  ...  0.040000   0.000000  0.000000  0.000000
1   2847    Kazakhstan  KAZ  2019  ...  0.236000   0.755650  0.549000  0.000000
2   2848    Kazakhstan  KAZ  2020  ...  1.077300   0.755650  0.941200  0.000000
3   2963    Kyrgyzstan  KGZ  2019  ...  0.000000   0.078355  0.000000  0.000000
4   4303      Pakistan  PAK  2019  ...  1.031600  35.551972  3.608753  9.783445
5   4304      Pakistan  PAK  2020  ...  1.030267  34.513517  3.190669  9.909005
6   5495    Tajikistan  TJK  2019  ...  0.000000   1.416580  0.000000  0.000000
7   5496    Tajikistan  TJK  2020  ...  0.000000   1.416580  0.000000  0.000000
8   5704  Turkmenistan  TKM  2019  ...  0.000000  13.951674  0.000000  0.000000
9   5983    Uzbekistan  UZB  2019  ...  0.006827   1.462846  0.000000  0.000000

[10 rows x 12 columns]

Quyida `A` bilan boshlanadigan barcha davlatlar uchun 2020-yil ma'lumotlarni olamiz. Ahamiyat bering bu safar davlat nomi emas kodi (`code`) dan foydalanamiz va qidiruv matnida `A` dan keyin ikki pastki chiziq (ikkita harf) yozayapmiz `A__`

In [17]:
query = "SELECT * FROM elect WHERE code LIKE 'A__' AND year=2020"
pd.read_sql(query, db)

   index     country code  year  ...      solar        oil       wind    nuclear
0    225   Argentina  ARG  2020  ...   1.344267   3.492022   9.419758  10.010408
1    336   Australia  AUS  2020  ...  18.638820   5.612541  24.308719   0.000000
2    357     Austria  AUT  2020  ...   1.264996   3.249908   6.868170   0.000000
3    393  Azerbaijan  AZE  2020  ...   0.044000  11.379848   0.135000   0.000000

[4 rows x 12 columns]

In [18]:
db.close()